<.flash_group flash={@flash} />
<div class="relative px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-0">
  <div class="grid grid-cols-1 items-center">
    <div :for={project <- @projects} class="flex justify-stretch group odd:flex-row-reverse">
      <div class="w-full group-even:border-r p-8 py-24"><% project.name %></div>
      <div class="w-full group-odd:border-r p-8 py-24"><span class="invisible">invis</span></div>
    </div>
  </div>
</div>
